<%# render details and options for an individual contact %>

<html>
    <body>
        <br>
        <h3>Contact Details</h3>
            <div>
                <p><%= @contact.first_name %> <%= @contact.last_name %></p>
                <p><%= @contact.phone %></p>
                <p><%= @contact.email %></p> 
                <p><%= @contact.address %></p>
                <p><%= @contact.city %>, <%= @contact.state %> <%= @contact.zip %></p>
                </br>
                <a href="/contacts/edit?id=<%= @contact.id %>" class="button">Edit</a>
                <a href="/contacts/verify_delete?id=<%= @contact.id %>" class="button">Delete</a>
            </div>
        </body>
</html>
